<div class="col-md-6">
    <h2> Buyers </h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th class="hidden">buyerId</th>
            <th>firstName</th>
            <th>address</th>
            <th>phone</th>
            <th>personalId</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let purchase of buyers">
            <td class="hidden">{{purchase.buyerId}}</td>
            <td>{{purchase.firstName}}</td>
            <td>{{purchase.address}}</td>
            <td>{{purchase.phone}}</td>
            <td>{{purchase.personalId}}</td>
            <td><button class="btn btn-danger" (click)="deleteBuyer(purchase)"> Delete Buyer</button></td>
        </tr>
        </tbody>
    </table>
</div>