server:
  port: 9999

eureka:
  instance:
    preferIpAddress: true
  client:
    serviceUrl.defaultZone: http://localhost:8761/eureka/
    registerWithEureka: true
    fetchRegistry: true

zuul:
  ignoredServices: "*"


management:
  endpoints:
    web:
      exposure:
        include: "*"
