<div class="col-md-6">
    <h2 class="text-center">Add Furniture</h2>
    <form>
        <div class="form-group">
            <label for="title">Promotional Period Name:</label>
            <input [(ngModel)]="promotionalPeriod.title" placeholder="Promotional Period Name" firstName="title" class="form-control" id="title">
        </div>

        <div class="form-group">
            <label for="promotionStart">Promotional Period Start Date:</label>
            <!--<input [(ngModel)]="promotionalPeriod.promotionStart" placeholder="Promotional Period Start Date" firstName="promotionStart" class="form-control" id="promotionStart">-->
        </div>



    </form>
</div>
