<div class="col-md-6">
    <h2 class="text-center">Add Furniture</h2>
    <form>
        <div class="form-group">
            <label for="promotionalPeriodName">Promotional Period Name:</label>
            <input [(ngModel)]="promotionalPeriod.promotionalPeriodName" placeholder="Promotional Period Name" name="promotionalPeriodName" class="form-control" id="promotionalPeriodName">
        </div>

        <div class="form-group">
            <label for="promotionalPeriodStartDate">Promotional Period Start Date:</label>
            <!--<input [(ngModel)]="promotionalPeriod.promotionalPeriodStartDate" placeholder="Promotional Period Start Date" name="promotionalPeriodStartDate" class="form-control" id="promotionalPeriodStartDate">-->
        </div>



    </form>
</div>
