<div class="col-md-6">
    <h2 class="text-center">Add Furniture</h2>
    <form>
        <div class="form-group">
            <label for="firstName">Furniture Name:</label>
            <input [(ngModel)]="furniture.firstName" placeholder="Furniture Name" firstName="firstName" class="form-control" id="firstName">
        </div>

        <div class="form-group">
            <label for="code">Furniture Code:</label>
            <input [(ngModel)]="furniture.code" placeholder="Furniture Code" firstName="code" class="form-control" id="code">
        </div>

        <button class="btn btn-success" (click)="createFurniture()">Create</button>
    </form>
</div>
