<div class="col-md-6">
    <h2 class="text-center">Add Furniture</h2>
    <form>
        <div class="form-group">
            <label for="name">Furniture Name:</label>
            <input [(ngModel)]="furniture.name" placeholder="Furniture Name" name="name" class="form-control" id="name">
        </div>

        <div class="form-group">
            <label for="code">Furniture Code:</label>
            <input [(ngModel)]="furniture.code" placeholder="Furniture Code" name="code" class="form-control" id="code">
        </div>

        <button class="btn btn-success" (click)="createFurniture()">Create</button>
    </form>
</div>
