<div class="col-md-6">
    <h2 class="text-center">Add Furniture</h2>
    <form>
        <div class="form-group">
            <label for="furnitureName">Furniture Name:</label>
            <input [(ngModel)]="furniture.furnitureName" placeholder="Furniture Name" name="furnitureName" class="form-control" id="furnitureName">
        </div>

        <div class="form-group">
            <label for="furnitureCode">Furniture Code:</label>
            <input [(ngModel)]="furniture.furnitureCode" placeholder="Furniture Code" name="furnitureCode" class="form-control" id="furnitureCode">
        </div>

        <button class="btn btn-success" (click)="createFurniture()">Create</button>
    </form>
</div>
