<div class="container-fluid">
  <div class="col-md-offset-1">
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>

  <a style="margin-left:20px" routerLink="/AddBuyer">Add Buyer</a>
  <a style="margin-left:20px" routerLink="/ListBuyer">List Buyers</a>
  <a style="margin-left:30px" routerLink="/AddFurniture">Add Furniture</a>
  <a style="margin-left:40px" routerLink="/ListFurniture">List Furniture</a>
  <a style="margin-left:50px" routerLink="/AddPurchases">Purchase</a>

  <a style="margin-left:60px" routerLink="/">Add Prize</a>
  <a style="margin-left:70px" routerLink="/ListPromotionalPeriod">List Promotional Period</a>
  <a style="margin-left:80px" routerLink="/AddPromotionalPeriod">Add Promotional Period</a>
  <a style="margin-left:90px" routerLink="/">Raffle</a>

  <a style="margin-left:100px" routerLink="/">View Winners</a>

  <br/>
  <router-outlet></router-outlet>
</div>