<div class="container-fluid">
<div class="col-md-offset-1">
  <h1>
    Welcome to {{title}} Manager
  </h1>
</div>
  <a routerLink="/AddBuyer">Add Buyer</a>
  <a style="margin-left:10px" routerLink="/add">Add Furniture</a>
  <a style="margin-left:20px" routerLink="/add">Purchase Furniture</a>

  <a style="margin-left:30px" routerLink="/add">Add Prize</a>
  <a style="margin-left:40px" routerLink="/add">Add Promotional Period</a>
  <a style="margin-left:50px" routerLink="/add">Raffle</a>

  <a style="margin-left:60px" routerLink="/add">View Winners</a>
<br/>
<router-outlet></router-outlet>
</div>

